APP_MONGO_DB='mongodb+srv://fisnikmurati94:Fisnik1233.@cluster0.ceo23rv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
APP_OPENAI_KEY='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'